---
import ProjectLayout from "../../../layouts/ProjectLayout.astro";

const pageTitle = "VS Code Extension";
const projectDescription = "Open-source Visual Studio Code extension to identify and highlight potential XSS vulnerabilities in JavaScript code";
---

<ProjectLayout title={pageTitle}>
  <div class="project">
    <h2>{pageTitle}</h2>
    <p>{projectDescription}</p>
  </div>
</ProjectLayout>
<style>
  .project {
    text-align: center;
  }
  .project img {
    width: 100%;
    height: auto;
  }
</style>