---
import Layout from "../../layouts/Layout.astro";
import BlogPost from "../../components/BlogPost.astro";
import { getTranslations, type Translations } from "@/i18n";
const { currentLocale = "es" } = Astro;
const translations: Translations = getTranslations({ currentLocale });

const pageTitle = translations["BLOG_PAGE"]["TITLE"];
const allPosts = await Astro.glob("../../pages/blogPosts/*.md");
---

<Layout title={pageTitle} description="Gabriel Ichiro Blog">
  <div class="py-16 md:py-36 mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
    <h2 class="text-black/80 dark:text-white font-semibold">
      {translations["BLOG_PAGE"]["DESCRIPTION"]}
    </h2>
    <ul class="mt-4">
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </div>
</Layout>
