---
import Layout from "../layouts/Layout.astro";
import BlogPost from "../components/BlogPost.astro";
const pageTitle = "Bog de Gabriel Ichiro";
const allPosts = await Astro.glob("../pages/blogPosts/*.md");
---

<Layout title={pageTitle} description="Gabriel Ichiro Blog">
  <div class="py-16 md:py-36 mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
    <h2 class="text-white font-semibold">
      Aqui publico actualizaciones o articulos que se me ocurran
    </h2>
    <ul class="mt-4">
      {
        allPosts.map((post) => (
          <BlogPost
            url={post.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description}
          />
        ))
      }
    </ul>
  </div>
</Layout>
