---
import Layout from '../layouts/Layout.astro';



---

<Layout title="Gabriel Ichiro">

<div class="mx-auto text-center mb-8 lg:mb-16  justify-center w-3/4">
	<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">
		Hey, my name is Gabriel and I am a Software Engineer 💻
	</h2>
	<p class="font-light text-gray-600 sm:text-xl dark:text-gray-400">
		I am currently working as a freelance frontend developer and spetializing in cybersecurity
		
	</p>

</div>
	
</Layout>

<style>
	a {
	  color: #00539f;
	}
  
	.tags {
	  display: flex;
	  flex-wrap: wrap;
	  margin: 0 auto;
	}
  
	.tag {
	  margin: 0.25em;
	  border: dotted 1px #a1a1a1;
	  border-radius: 0.5em;
	  padding: 0.5em 1em;
	  font-size: 1.15em;
	  background-color: #f8fcfd;
	}
  </style>
  