---
import Layout from '../layouts/Layout.astro';



---

<Layout title="Gabriel Ichiro">
	

<div class="mx-auto text-center mb-8 lg:mb-16  justify-center w-3/4">
	<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">
		Hey, my name is Gabriel and I am a Software Engineer 💻
	</h2>
	<p class="font-light text-gray-600 sm:text-xl dark:text-gray-400">
		I am currently working as a frontend freelance developer and spetializing in cybersecurity
		I am also developing a VS Code extension for security Hotspots: <u>link to gh</u>
	</p>

</div>
	
</Layout>