---
import Layout from "../layouts/Layout.astro";
import ProjectCard from "../components/ProjectCard.astro";
const pageTitle = "Projects";
const projects = [
  {
    title: "VS Code Extension",
    description: "This is a VS Code extension project.",
    imageUrl: "https://www.freecodecamp.org/news/content/images/2021/08/vscode.png", 
    projectUrl: "https://marketplace.visualstudio.com/items?itemName=gabrielbalderrama.safedev-vulnerabilities-analyzer", 
  },
  
];
---

<Layout title={pageTitle}>

  <div class="projects">
    {
      projects.map((project) => (
        <ProjectCard {...project} />
      ))
    }
  </div>
</Layout>
<style>
  /* your styles */
</style>