---
 const personalImageAlt = "Gabriel Ichiro"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-purple-500 dark:[&>p>strong]:text-purple-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Gabriel Ichiro. Empecé a interesarne por la tecnologia a temprana edad intentando hacer videojuegos con C++ . Actualmente estoy <strong
        >Trabajando como desarrollador full stack con interes en ciberseguridad</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >Ganar el 2do lugar en el Hackacom de Comteco</strong
      >. Y participar y quedar en el top 5 de la competencia de ciberseguridad de la AGETIC a nivel nacional.
    </p>
  </div>

  <img width="200" height="200" src="/img/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-purple-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
