<div class="flex items-center">
  <span class="relative inline-flex overflow-hidden rounded-full p-[1px]">
    <span
      class="absolute inset-[-1000%] bg-[#DD6E42] dark:bg-[#BBF7D0] rounded-full animate-pulse"
    ></span>
    <div
      class="inline-flex items-center justify-center w-full px-3 py-1 text-sm text-black bg-blue-100 rounded-full cursor-pointer dark:bg-gray-800 dark:text-white/80 backdrop-blur-3xl whitespace-nowrap"
    >
      <slot />
    </div>
  </span>
</div>
