---
const { title, url, description } = Astro.props;
---

<li class="my-1">
  <a href={url} class="text-black/80 dark:text-white font-semibold">{title}</a>
  <p class="text-gray-400 dark:text-[#BBF7D0]">{description}</p>
</li>
