---
import ExperienceItem from "./ExperienceItem.astro";
import { getTranslations, type Translations } from "../i18n";

const { currentLocale = "es" } = Astro;
const translations: Translations = getTranslations({ currentLocale });

const EXPERIENCES = Array.isArray(translations["EXPERIENCE"])
  ? translations["EXPERIENCE"]
  : [];
---

<ol class="relative mt-16">
  {
    EXPERIENCES.map((experience: any) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
