---
const { currentLanguage } = Astro.props;
import SunIcon from "./icons/Sun.astro";
import MoonIcon from "./icons/Moon.astro";
import SystemIcon from "./icons/System.astro";

const LANGUAGES = ["ES", "EN"];
---

<div class="relative ml-1 mr-1">
  <select id="language-select" value={currentLanguage}>
    <option value="es" selected={currentLanguage === "es"}>Español</option>
    <option value="en" selected={currentLanguage === "en"}>English</option>
  </select>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const select = document.getElementById("language-select");
    if (select) {
      select.addEventListener("change", (event) => {
        const target = event.target as HTMLSelectElement;
        if (target) {
          const newLanguage = target.value;
          const newPath = newLanguage === "es" ? "/" : `/${newLanguage}`;
          window.location.href = newPath;
        }
      });
    }
  });
</script>

<style>
  #language-select {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
  }

  #language-select:hover {
    color: #0f8c15;
  }
</style>
