---
const { currentLanguage } = Astro.props;

const LANGUAGES = ["ES", "EN"];
---

<div class="relative ml-1 mr-1">
  <select id="language-select" value={currentLanguage}>
    <option value="es" selected={currentLanguage === "es"}>ES</option>
    <option value="en" selected={currentLanguage === "en"}>EN</option>
  </select>
</div>

<script>
  const initializeLanguageSelector = () => {
    const select = document.getElementById("language-select");
    if (select) {
      select.addEventListener("change", (event) => {
        const target = event.target as HTMLSelectElement;
        if (target) {
          const newLanguage = target.value;
          const currentPath = window.location.pathname;
          const newPath = newLanguage === "es" ? "/" : `/${newLanguage}`;
          window.location.href = newPath;
        }
      });
    }
  };

  document.addEventListener("astro:page-load", initializeLanguageSelector);
  initializeLanguageSelector();
</script>

<style>
  #language-select {
    border: none;
    background: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease;
  }

  #language-select:hover {
    color: #0f8c15;
  }
</style>
